@charset "UTF-8";

:root{
    --cordestaque: #D1323E;
    --corbranco: #F9FEFB;
    --corclara: #78BC61;
    --cormedia: #17AF2F;
    --corescura: #14281D;
    --borda: 1px dotted black;
}

@media screen and (min-width: 768px){
    body{
        background-color: var(--corclara);
        width:auto;
    }

    header{
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: 100px;
        box-shadow: 0px -2px 3px var(--corescura);
    }


    header > h1{
        float: right;
        line-height: 15px;
        text-align: center;
        margin: 0px;
        width: 160px;
        font-size: 15px;
        order: 3;
    }

    header > div#Ilogo{
       flex: 0 1 auto;
       width: 160px;
       order: -1;
    }

    header > nav > a{
        border-radius: 2px;
        order: 2;
    }

    header > nav > a:hover{
        border-radius: 2px;
    }

    main{
        margin: auto;
        box-shadow: none;
        width: 800px;
    }

    h2.divisoria{
        border-radius: 0px 5px;
        margin: auto auto 15px auto;
        text-align: center;
        width: 85%;
    }

    section > nav#Ishow > a{
        display: flex;
        flex-flow: column wrap;
    }

    nav#Ishow > a, section.marcas > nav > a{
        font-weight: 500;
    }

    section.showproduct{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    section.showproduct > div.nowrap{
        display: flex;
        flex-flow: column nowrap; 

        text-align: center;
        width: 47%;
    }

    section.showproduct > div.column{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        width: 47%;
    }

    section.showproduct > div.column > div.change{
        flex: 1 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;

        height: 50px;
        width: 200px;

        order: 2;
    }

    table.descricao{
        display: none;
    }

    div.descricao{
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-end;
        align-self: center;

        width: 250px;
    }

    div.descricao > h5{
        flex: 0 1 auto;

        background-color: var(--corclara);
        border-radius: 5px;
        font-size: 17px;
        text-align: center;
        width: 50%;
    }

    aside#noback{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 700px;
    }

    div.botao{
        width: 30vw;
    }
    
    footer > address{
        margin: auto;
        text-align: center;
    }

    footer > nav.sociais{
        margin: auto;
        width: 700px;
    }
}