@charset "UTF-8";

:root{
    --cordestaque: #D1323E;
    --corbranco: #F9FEFB;
    --corclara: #78BC61;
    --cormedia: #17AF2F;
    --corescura: #14281D;
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--corescura);
}

body{
    background-color: var(--corclara);
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 150px;
    background-color: var(--cormedia);
    padding-top: 10px;
}

header > div#Ilogo{
    flex: 1 0 auto;
    background: url(../imagens/logo-200.png) center center no-repeat;
    background-size: contain;
    /*border: 1px dotted black;*/
}

header > h1{
    flex: 0 1 auto;
    align-self: center;
    color: var(--corbranco);
    font-size: 1em;
    font-variant: small-caps;
    text-shadow: 0px 0px 2px var(--corescura);
    padding: 0px 0px 10px 0px;
    /*border: 1px dotted black;*/
}

header > nav{
    display: flex;
    align-self: flex-end;
    background-color: var(--cordestaque);
    width: 100vw;
   /*border: 1px dotted black;*/
}

header > nav > a{
    color: var(--corbranco);
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
}

header > nav > a:hover{
    background-color: var(--corbranco);
    color: var(--cordestaque);
    border-radius: 10px 10px 0px 0px;
}

main{
    background-color: var(--corbranco);
    padding: 15px;
}

main > section > h2{
    color: var(--cordestaque);
}

main > section > p{
    color: var(--corescura);
    line-height: 1.5em;
}

main > aside {
    background-color: var(--corclara);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px
}

main > aside > h3{
    background-color: var(--cormedia);
    border-radius: 10px 10px 0px 0px;
    color: var(--corbranco);
    margin: -10px -10px 5px -10px;
    padding: 5px;
}


footer{
    background-color: var(--corescura);
    color: var(--corbranco);
    padding: 10px;
}

footer > address{
    font-style: normal;
    line-height: 0.9em;
    padding-bottom: 15px;
}

footer > a{
    text-decoration: none;
    color: var(--corbranco);
    font-weight: bold;
}